html, body {
    margin: 0px;
    font-family: Open Sans;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    width: 100%;
}

nav > div {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    color: #ffeead;
    justify-content: center;
    flex-direction: column;
}

nav > div:nth-child(2n) {
    background-color: #ff6f69;
}

nav a {
    text-decoration: none;
}
  
.push {
    margin-left: auto;
}

#logo {
    font-family: Krona One;
    font-size: 1.5em;
}

#topbar {
    background-color: #96ceb4;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05);
    padding: 0px;
}

#burger {
    display: none;
    color: #ffeead;
    font-size: 2.2em;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    padding-left: 10px;
}

#burger > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

@media screen and (max-width: 840px) {
    nav {
        display: block;
    }
    nav > div {
        text-align: left;
    }
    .hidden-on-mobile {
        display: none;
    }
    #burger {
        display: inline;
    }
}

.message {
    display: flex;
    padding: 0px;
}

.message > div {
    padding: 10px;
    justify-content: center;
    flex-direction: column;
}

.main {
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
}

#content {
    flex: 1 0 auto;
    width: 100%;
}

#content > div {
    margin: 10px;
    margin-bottom: 20px;
}

a {
    color: inherit;
}

button {
    font-size: inherit;
}

footer {
    /* background-color: #96ceb4; */
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05);
    /* color: #ffeead; */
    flex-shrink: 0;
}

.center {
    width: inherit;
    text-align: center;
    padding: 10px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.close:hover {
    color: #000;
    text-decoration: none;
}

.close {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 0.5;
    cursor: pointer;
    color: inherit;
}