nav > div {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    color: #ffeead;
    display: flex;  
    justify-content: center;
    flex-direction: column;
}


html, body {
    margin: 0px;
    font-family: Open Sans;
}
  
nav > div:nth-child(2n) {
    background-color: #ff6f69;
}
  
#logo {
    font-family: Krona One;
    font-size: 1.5em;
}


nav {
    display: flex;
    width: 100%;
}

.main {
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
}


nav > .push {
    margin-left: auto;
}

#topbar {
    background-color: #96ceb4;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05);
    padding: 0px;
}

#content > div {
    padding: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}