{% extends 'layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href={% static 'styles/narrow_page.css' %}>{% endblock %}

{% block title %}My account | {% endblock %}

{% block content %}
<div id="content" class="main">
    <div id="narrow-div">
        <h4 class="row-item-title-span">My account</h4>
        <p>
            <label for="my_account_dropdown">Go to:</label>
            <select name="pages" id="my_account_dropdown">
                <option value="/my_account">Change personal data</option>
                <option value="#" selected>Change email</option>
                <option value="/my_account/change_password">Change password</option>
                <option value="/my_account/delete">Delete account</option>
            </select>
        </p>
        <hr>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {% if field.help_text %}
                <small>{{ field.help_text | safe }}</small><br>
                {% endif %}
                {% for error in field.errors %}
                <small class="error">{{ error | safe }}</small>
                {% endfor %}
            </p>
            {% endfor %}
            <p id="footer">
                <button type="submit">Submit</button>
            </p>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/my_account.js' %}"></script>
{% endblock %}