{% extends 'layout.html' %}
{% load static %}

{% block head %}<link rel="stylesheet" href={% static 'styles/narrow_page.css' %}>{% endblock %}

{% block title %}Forgot password{% endblock %}

{% block content %}
    <div id="content" class="main">
        <div id="narrow-div">
            <h4 class="row-item-title-span">Forgot password</h4>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}<br>
                    {% if field.help_text %}
                    <small>{{ field.help_text | safe }}</small>
                    {% endif %}
                    {% if field.errors %}
                    <ul>
                    {% for error in field.errors %}
                    <li><small class="error">{{ error | safe }}</small></li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </p>
                {% endfor %}
                <p id="footer">
                    <button type="submit">Submit</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}