{% extends 'layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href={% static 'styles/game.css' %}>{% endblock %}

{% block title %}Game #{{game.id}} | {% endblock %}

{% block content %}
<div id="content" class="main">
    <div>
        <div class="flex-gap spacing">
            <div>Game #{{game.id}} (sport: {{game.sport}}) played on {{game.time_created}}</div>
            <div class="float-right flex">
                <button id="btn-add-player" class="btn-pill">Add player</button>
            </div>
            <div class="flex">
                <button id="btn-change-view" class="btn-pill">Change view</button>
            </div>
        </div>
        <form>
            <div class="spacing">
                <span id="table-spinner" class="fa fa-spinner fa-pulse fa-2x fa-fw center"></span>
                <table class="hidden">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="spacing">
                Notes:<br>
                <textarea id="notes" maxlength="1000">{{game.notes}}</textarea>
            </div>
            <div class="spacing">
                <button type="submit" id="btn-save" class="btn-wide">Save</button>
            </div>
        </form>
    </div>
</div>
<!-- The Modal -->
<div id="modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header flex">
            <h3 class="modal-title">Are you sure you want to delete this player?</h3>
            <button type="button" class="close-modal" aria-label="Delete"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
            <div class="spacing">
                <button id="btn-confirm-delete" class="btn-wide">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const holesNumber = {{game.holes}};
    const editable = {{edit|lower}};
</script>
<script src="{% static 'js/game.js' %}"></script>
{% endblock %}