<!DOCTYPE html>
{% load static %}
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176057329-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-176057329-1');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Play golf, disc golf or foot golf and create your personal scorecard to compete with friends! Easy to use, easy to share.">
    <link rel="icon" type="image/png" href="{% static 'images/favico.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Krona+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href={% static 'styles/base.css' %}>
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}MyScore - Your personal golf diary</title>
</head>

<body>
    <div id="sticky-top">
        <div id="topbar" class="container">
            <nav class="main">
                <div id="logo"><a href="{% url 'index' %}">MyScore</a></div>
                {% if user.is_authenticated %}
                <div class="nav-item hidden-on-mobile push"><a href="{% url 'new_game' %}">New game</a></div>
                <div class="nav-item hidden-on-mobile"><a href="{% url 'history' %}">History</a></div>
                <div class="nav-item hidden-on-mobile"><a href="{% url 'my_account' %}">My account</a></div>
                <div class="nav-item hidden-on-mobile"><a href="{% url 'logout' %}">Logout</a></div>
                {% else %}
                <div class="nav-item hidden-on-mobile push"><a href="{% url 'login' %}">Login</a></div>
                <div class="nav-item hidden-on-mobile"><a href="{% url 'register' %}">Register</a></div>
                {% endif %}
            </nav>
            <div id="burger" class="container"><button><i class="fa fa-bars"></i></button></div>
        </div>
        <div id="messages">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <div class="main message">
                    <div>
                        {{ message }}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% block content %}{% endblock %}
    <footer>
        <small class="span-footer">
            © 2020 created by <a href="https://lwolczynski.com" target="_blank">lwolczynski</a> <span id="show-credits" class="clickable">(show credits)</span>
        </small>
        <small class="span-footer hidden zero-opacity">
            Icons made by <a href="https://www.flaticon.com/authors/prettycons" target="_blank">prettycons</a> from <a href="https://www.flaticon.com/" target="_blank">www.flaticon.com</a>
        </small>
        <small class="span-footer hidden zero-opacity">
            Favico made by <a href="https://www.flaticon.com/authors/freepik" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank">www.flaticon.com</a>
        </small>
        <small class="span-footer hidden zero-opacity">
            Golf scorecard made by <a href="https://www.flickr.com/photos/golf_pictures/" target="_blank">Dan Perry</a> from <a href="https://www.flickr.com/" target="_blank">www.flickr.com</a>
        </small>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>