<!DOCTYPE html>
<html>

<body style="font-family: Verdana;">
    <img src="https://myscore.golf/static/images/logo.png" alt="" style="width: 300px; height: auto;" />
    <h4>Welcome to MyScore!</h4>
    <p>It is great to have you onboard <span style="text-decoration-line: underline;">{{ user }}</span>!</p>
    <p>With MyScore you can track your scores for different games and variants! Pick between golf, disc golf and foot golf, choose 9-hole or 18-hole game, add notes, share results with friends!</p>
    <p>Here is your personal link to activate your MyScore account:<br />
        <a href="https://{{ domain }}/activate/{{ uid }}/{{ token }}">https://{{ domain }}/activate/{{ uid }}/{{ token }}</a>
    </p>
    <p>We hope you have a lot of fun at MyScore!</p>
    <p><small>© 2020 <a href="https://{{ domain }}">MyScore</a> created by <a href="https://github.com/lwolczynski">lwolczynski</a></small></p>
</body>

</html>