<!DOCTYPE html>
{% load static %}
<html>
    <head>
    <link rel="stylesheet" href={% static 'styles/base.css' %}>
    </head>
    <body>
        <h4>Reset password to MyScore account</h4>
        <p>Hello <span style="text-decoration-line: underline;">{{ user }}</span>!</p>
        <p>A password reset request has been sent from your account. If it is not you who requested it, please disregard this email.</p>
        <p>Password reset link is: <a href="{{ protocol }}://{{ domain }}/reset/{{ uid }}/{{ token }}">{{ protocol }}://{{ domain }}/reset/{{ uid }}/{{ token }}</a></p>
        <p><small class="span-footer">© 2020 <a href="{{ protocol }}://{{ domain }}">MyScore</a> created by <a href="https://github.com/lwolczynski">lwolczynski</a></small></p>
    </body>
</html>