<!DOCTYPE html>
<html>

<body style="font-family: Verdana;">
    <img src="https://myscore.golf/static/images/logo.png" alt="" style="width: 300px; height: auto;" />
    <h4>Reset password to MyScore account</h4>
    <p>Hi <span style="text-decoration-line: underline;">{{ user }}</span>!</p>
    <p>A password reset request has been sent from your account. If it is not you who requested it, please disregard this email.</p>
    <p>Here is your personal link to reset password to MyScore account:<br />
        <a href="{{ protocol }}://{{ domain }}/reset/{{ uid }}/{{ token }}">{{ protocol }}://{{ domain }}/reset/{{ uid }}/{{ token }}</a>
    </p>
    <p>With MyScore you can track your scores for different games and variants! Pick between golf, disc golf and foot golf, choose 9-hole or 18-hole game, add notes, share results with friends!</p>
    <p>We hope you have a lot of fun at MyScore!</p>
    <p><small>© 2020 <a href="{{ protocol }}://{{ domain }}">MyScore</a> created by <a href="https://github.com/lwolczynski">lwolczynski</a></small></p>
</body>

</html>